body {
    background: linear-gradient(to bottom, rgb(44, 39, 33), rgb(225, 222, 215));
    margin: 0;
    padding: 0;
}

div {
    background-color: #000000;
}

.image1 { 
    display: block;
    margin: 0 auto 10px;
    width: 200px;
    padding: 10px;
}

::content {
    padding: 500px;
    text-align:center;
    margin-top: 5px;
}
.d-flex {
    display: flex;
}
.justify-center {justify-content: center;
}
h1 {
    font-family: 'Calibri', sans-serif;
   background-color: #0b0705;
   color: rgb(243, 245, 252);
    text-align: right;
}

h2 {
    font-family: 'Calibri', sans-serif;
    color: rgb(243, 245, 252);
    text-align: center;
}


.imgage2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;

}
h3 {
    font-family: 'Calibri', sans-serif;
    color: rgb(44, 39, 33);
    text-align: left
}