h1 {
    font-family: fantasy, Arial;
    background: #7494EA;
    color: #494947;
    text-align: center;}
    h2 {
        font-family: fantasy, Arial;
        background: #7494EA;
        color: #494947;
        text-align: center;}
    p{
        font-family: fantasy, Arial;
        background: yellowgreen;
        color: black;
        text-align: center 
    }